/* slide-styles.css */

.sidebar {
  position: fixed;
  top: 0;
  left: -220px;
  width: 220px;
  height: 97%;
  background-color: #16223F;
  color: white;
  padding: 20px 10px;
  transition: left 0.3s ease;
  
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar.open {
  left: 0;
}

.toggle-btn {
  position: absolute;
  top: 15px;
  right: -40px;
  background-color: #16223F;
  color: white;
  border: none;
  padding: 10px 12px;
  font-size: 20px;
  cursor: pointer;
  border-radius: 0px 5px 5px 0px;
}

.logo {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

.top-section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.nav-links {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  padding: 8px;
  border-radius: 5px;
  transition: background-color 0.2s ease;
}

.nav-links a:hover {
  background-color: #3B9C96;
}

.user-circle-container {
  display: flex;
  justify-content: flex-start;
  padding: 10px 0;
}

.user-circle {
  width: 50px;
  height: 50px;
  background-color: #444;
  border-radius: 50%;
  background-image: url('../Assets/image/images.png');
  background-size: cover;
  background-position: center;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.user-circle:hover {
  background-color: #666;
}

.logout-container {
  padding: 10px;
  text-align: center;
}

.logout-btn {
  display: block;
  width: 150px;
  padding: 10px;
  background-color: #205e5b;
  color: white;
  text-decoration: none;
  border-radius: 8px;
  transition: background-color 0.3s ease;
cursor: pointer;
}

.logout-btn:hover {
  background-color: #2d7c78;
}
