  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/header-styles.css">
  </head>
  <body>
      <header>
    <a href="index.html"><img src="../Assets/image/logo.png" alt="Logo"></a>
    <nav>
      <a href="index.html">Inicio</a>
      <a href="register.html">Registrar</a>
      <a href="login.html">Inicia sesión</a>
      <a href="reseña.html">Reseñas</a>
      <a href="directorio.html">Directorio</a>
      <a href="news.html">News</a>
    </nav>
  </header>
  </body>
  </html>
  
