
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../css/footer-styles.css">
</head>
<body>
  <footer class="footer">
  <div class="footer-container">
    <div class="footer-column">
      <h5>Acerca de Bibliogent</h5>
      <p>Transformamos la gestión bibliotecaria con soluciones digitales innovadoras que facilitan el acceso a la información.</p>
    </div>
    <div class="footer-column">
      <h5>Navegación</h5>
      <ul>
        <li><a href="inicio.html">Inicio</a></li>
        <li><a href="news.html">News</a></li>
      </ul>
    </div>
    <div class="footer-column">
      <h5>Información</h5>
      <ul>
        <li><a href="https://wa.me/3116457244">Correo</a></li>
        
        <li><a href="https://www.instagram.com/svj_.08?igsh=cDRtOHh4bXltaHZ6">Instagram</a></li>
      </ul>
    </div>
  </div>
  <hr>
  <div class="footer-bottom">
    <p>&copy; 2025 Bibliogest. Todos los derechos reservados.</p>
  </div>
</footer>

</body>
</html>
